<a href="https://colab.research.google.com/github/hitesh582/RL-CSL348/blob/main/Experiment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!python --version

Python 3.10.12

In [3]:
def quicksort(arr):
  if len(arr)  <=  1:
    return arr
  pivot = arr[len(arr)//2]
  left = [x for x in arr if x < pivot]
  middle = [x for x in arr if x == pivot]
  right = [x for x in arr if x > pivot]
  return quicksort(left) + middle + quicksort(right)

print(quicksort([3,6,8,10,1,2,1]))

[1, 1, 2, 3, 6, 8, 10]

In [4]:
x = 3
print(x, type(x))

3 <class 'int'>

In [6]:
print(x+1)
print(x-1)
print(x*2)
print(x**2)

4
2
6
9

In [7]:
x += 1
print(x)
x *= 2
print(x)

4
8

In [8]:
y = 2.5
print(type(y))
print(y, y + 1, y * 2, y ** 2)

<class 'float'>
2.5 3.5 5.0 6.25

In [9]:
y = 2
print(type(y))
print(y, y + 1, y * 2, y ** 2)

<class 'int'>
2 3 4 4

In [11]:
y = 7676767.7676767
print(type(y))
print(y, y + 1, y * 2, y ** 2)

<class 'float'>
7676767.7676767 7676768.7676767 15353535.5353534 58932763358839.91

In [12]:
t, f =  True, False
print(type(t))

<class 'bool'>

In [14]:
print(t and f)
print(t or f)
print(not t )
print(t != f)

False
True
False
True

In [15]:
hello = 'hello'
world = "world"
print(hello, len(hello))

hello 5

In [19]:
s1 = 'hitesh'
s2 = ' kumar'
hw = s1 + '' + s2
print(hw)

hitesh kumar

In [23]:
hw12 = '{} {} {}'.format(hello,world,12)
print(hw12)

hello world 12

In [26]:
s = 'hello'
print(s.capitalize())
print(s.upper())
print(s.rjust(7))
print(s.center(7))
print(s.replace('l', '(ell)'))
print(' world '.strip())

Hello
HELLO
  hello
 hello
he(ell)(ell)o
world

In [37]:
xs = [3,1,2]
print(xs, xs[2])
print(xs[-1])
xs[2] = 'foo'
print(xs)
xs.append('bar')
print(xs)
x = xs.pop()
print(x, xs)

[3, 1, 2] 2
2
[3, 1, 'foo']
[3, 1, 'foo', 'bar']
bar [3, 1, 'foo']

In [40]:
nums = list(range(5))
print(nums)
print(nums[2:4])
print(nums[2:])
print(nums[:4])
print(nums[:])
print(nums[:-1])
nums[2:4] = [8,9]
print(nums)

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 9, 4]

In [43]:
animals = ['cats', 'dog', 'monkeys']
for animals in animals:
    print(animals)

cats
dog
monkeys

In [44]:
animals = ['cats', 'dog', 'monkeys']
for idx,animals in enumerate(animals):
    print('#{}: {}'.format(idx + 1, animals))

#1: cats
#2: dog
#3: monkeys